<nav class="grid-container portfolio-breadcrumb"></nav><a href="/">← Back</a>
<article class="grid-container portfolio-intro portfolio-project"></article>
<div class="grid-x">
    <div class="cell small-6 medium-9 large-9">
        <h1>Rod Sanati</h1>
        <p class="lead text-light">Full Stack JavaScript Developer.</p>
        <div class="portfolio-bio">
            <p>
                Hey there! My name's Rod and I am a Full Stack Web Developer.
                Before my journey began as a web developer, I worked as a construction superintendent overseeing both residential and commercial projects
                to completion. Both in the construction and tech industries, the client's expectations must be met by delivering a quality finished product and within a reasonable time frame.
                What started out as a hobby of creating the most basic of JavaScript functions and HTML pages has developed into creating fully designed and functional web applications with routing,
                and backend server setup. From these foundational languages to the advanced frameworks and libraries needed to build front and back-end web applications,
                I take pride in applying these skills I have and continue to learn individually and within a team.
            </p>
        </div>
    </div>
    <div class="cell portfolio-meta small-6 medium-2 large-3">
        <h6>Skills</h6>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Node.js</li>
            <li>React</li>
            <li>SQL</li>
            <li>Sequelize</li>
            <li>MongoDB</li>
            <li>Mongoose</li>
            <li>Express</li>
            <li>Bootstrap </li>
            <li>Pug</li>
            <li>AJAX</li>
            <li>JSON</li>
            <li>Git/CLI</li>
            <li>Github</li>
            <li>Peer Code Review</li>
        </ul>
        <h6>Contact Info</h6>
        <ul>
            <li>713-494-5350</li>
            <li>RodSanati@gmail.com</li>
        </ul><a class="button expanded" href="https://www.linkedin.com/in/rod-sanati/">LinkedIn</a><a class="button expanded" href="https://github.com/Rod-S">GitHub</a>
    </div>
</div>
<nav class="grid-container portfolio-breadcrumb"></nav><a href="/">← Back</a>