<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rod Sanati's Portfolio Site</title>
    <link rel="icon" href="../static/images/icons8-monitor-64.png" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
<div class="off-canvas position-left reveal-for-large portfolio-me" id="my-info" data-off-canvas="">
    <div class="grid-y grid-padding-x" style="height: 100%;"><br />
        <div class="cell shrink"><img class="thumbnail profile-pic" src="/static/images/profile.jpg" /></div>
        <div class="cell auto">
            <h5>Rod Sanati</h5>
            <p class="text-light">Full Stack Web Developer. This website has been created to showcase my projects!</p><a href="/about">Learn More →</a>
        </div>
    </div>
</div>
<div class="off-canvas-content" data-off-canvas-content="">
    <div class="title-bar hide-for-large">
        <div class="title-bar-left"><button class="menu-icon" type="button" data-toggle="my-info"></button><span class="title-bar-title">Rod Sanati</span></div>
    </div>
</div>
</body>
<script src="../static/js/vendor/jquery.js"></script>
<script src="../static/js/vendor/what-input.js"></script>
<script src="../static/js/vendor/foundation.js"></script>
<script src="../static/js/scripts.js"></script>

</html>